<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>User Page title <%= title %></p>
    <p><a><%= __('zbotest') %></a></p>
  </body>
</html>
